<html lang='en'>

<head>
    {{> private/head}}
    <title>Organizr</title>
</head>

<body>
    {{> private/header}}

    <div class="container">
        <p class="text-center my-5">
            <code>Private app is a WIP.</code>
        </p>
    </div>

    {{> private/footer}}
</body>

</html>