{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg bg-light border-bottom border-primary">
    <div class="container">
        <a href="/" class="navbar-brand">
            {{> shared/logo}}
        </a>
        <div class="row justify-content-end gx-3">
            <div class="col-auto">
                <a class="btn btn-outline-primary" aria-current="page" href="/app/sign-out">Sair</a>
            </div>
        </div>
    </div>
    </div>
</nav>