<html lang='en'>

<head>
    {{> public/head}}
    <title>Organizr - Esqueci Minha Senha</title>
</head>

<body class="vh-100 d-flex flex-column bg-light">
    <div class="container py-5 my-5 flex-grow-1">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4">
                <div class="mb-4 d-flex justify-content-center">
                    {{>shared/logo}}
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            Redefinir Senha
                        </h5>
                        <div class="col-12">
                            <p class="form-text">
                                Se existir uma conta com este e-mail, você receberá uma
                                mensagem com uma nova senha aleatória.
                            </p>
                        </div>
                        <div class="form-text text-center">
                            Já tem uma conta? <a href="/authentication/sign-in">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> public/footer}}
</body>

</html>