<html lang="en">
<head>
    {{> private/head}}
    <title>Organizr - Nova Atividade</title>
</head>
<body claclass="vh-100 d-flex flex-column bg-light">
    {{> private/header}}
    <div class="container flex-grow-1">
        <div class="row justify-content-center align-content-center py-5 h-75">
            <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            Criar Ativadade
                        </h5>
                        <form method="post" class="row g-3">
                            <div class="col-12">
                                <label for="newTask" class="form-label">Nome da Atividade</label>
                                <input name="newTask" type="text" class="form-control" id="newTask" autofocus required
                                    maxlength="512">
                            </div>
                            <div class="col-12 d-flex align-items-center">
                                <p class="mb-0 me-2">Cor da Marcação:</p>
                                <button type="button" class="btn p-3 mx-1 btn-danger"></button>
                                <button type="button" class="btn p-3 mx-1 btn-success"></button>
                                <button type="button" class="btn p-3 mx-1 btn-primary"></button>
                                <button type="button" class="btn p-3 mx-1 btn-warning"></button>
                                <button type="button" class="btn p-3 mx-1 btn-secondary"></button>
                                <button type="button" class="btn p-3 mx-1 btn-dark"></button>
                            </div>
                            <hr class="w-100 mt-4">
                            <div class="col-12 mt-3">
                                <button type="button" class="btn py-2 px-4 btn-success">Criar</button>
                                <button type="button" class="btn py-2 px-4 btn-primary">Voltar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>private/footer}}
</body>
</html>