<html lang="en">

<head>
    {{> public/head}}
    <title>Organizr - Criar Conta</title>
</head>

<body class="vh-100 d-flex flex-column bg-light">
    <div class="container flex-grow-1">
        <div class="row justify-content-center align-content-center py-5 h-100">
            <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4">
                <div class="mb-4 d-flex justify-content-center">
                    {{>shared/logo}}
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            Criar Conta
                        </h5>
                        <form method="post" class="row g-3">
                            <div class="col-12">
                                <label for="fullName" class="form-label">Nome Completo</label>
                                <input name="fullName" type="text" class="form-control" id="fullName" autofocus required
                                    maxlength="64">
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">E-mail</label>
                                <input name="email" type="email" class="form-control" id="email" required
                                    maxlength="64">
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="password" class="form-label">Senha</label>
                                <input name="password" type="password" class="form-control" id="password" required
                                    maxlength="64">
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="confirmPassword" class="form-label">Confirmar Senha</label>
                                <input name="confirmPassword" type="password" class="form-control" id="confirmPassword"
                                    required maxlength="64">
                            </div>
                            <div class="col-12 mt-3 d-grid">
                                <button type="submit" class="btn btn-primary">Criar Conta</button>
                            </div>
                        </form>
                        <div class="form-text text-center">
                            Já tem uma conta? <a href="/authentication/sign-in">Entre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>public/footer}}
</body>

</html>