<html lang="en">
<head>
    {{>public/head}}
    <title>Criar Conta</title>
</head>
<body class="body-grad my-font-family">
    <!---{{>public/header hide-sign-up=true}}-->
   
    <main class="container d-flex justify-content-center" style="height: 90vh;">
        <article class="col-6 col-sm-4 d-flex flex-column align-items-center justify-content-center">
            <div class="mb-3">
                {{>shared/logo}}
            </div>
            <h4 class="text-uppercase">Criar conta</h4>
        </article>
         <!--<div class="logo">
            {{>shared/logo}}
        </div>
        <article class="create-account">
            <h2>Criar conta</h2>
            <form>
                <div class="forms">
                <input name="" class="form-control" placeholder="Nome" type="text">
                </div>
                <div class="forms">
                    <input name="" class="form-control"placeholder="Email address" type="email">
                </div>
                <div class="forms">
                    <input name="" class="form-control"placeholder="Senha" type="password">
                </div>
                <div class="forms">
                    <input name="" class="form-control"placeholder="Confirmar senha" type="password">
                </div>
                <div class="forms">
                    <button type="submit" class="btn btn-primary btn-block">Criar conta</button>
                </div>
                <p class="text-center">Já tem uma conta? <a href="">Log In</a> </p>  
            </form>
            
        </article>-->
    </main>
    {{>public/footer}}
</body>
</html>