<html lang='en'>

<head>
    {{> public/head}}
    <title>App</title>
</head>

<body>
    {{> public/header}}

    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-12">
                <h1 class="display-1 fw-normal text-primary">
                    404
                </h1>
                <h3 class="display-5">
                    Página Não Encontrada
                </h3>
                <p class="mt-5">
                    Próximos passos:
                </p>
                <ul class="mb-0">
                    <li>
                        Entre em contato com os administradores pelo e-mail
                        <a href="mailto:suporte@organizr.com">suporte@organizr.com</a>;
                    </li>
                    <li>
                        Volte para a <a href="/">página inicial</a>.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{> public/footer}}
</body>

</html>