{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg bg-light border-bottom border-primary">
    <div class="container">
        <a href="/" class="navbar-brand">
            {{> shared/logo}}
        </a>
        <div class="row justify-content-end gx-3">
            <div class="col-auto">
                <a class="btn btn-outline-primary" aria-current="page" href="/sign-in">Entrar</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" aria-current="page" href="/sign-up">Criar Conta</a>
            </div>
        </div>
    </div>
    </div>
</nav>